table {
  width: 100%;
}

.fame-item {
  margin-bottom: 2em;
}

.fame-item mat-card {
  padding: 12px;
}

.fame-item mat-card p{
  margin-bottom: 12px;
}

.fame-icon {
  font-size: 60px;
}

.fame-name {
  font-size: 20px;
}

.float-right {
  float: right;
}
